{% load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/open-iconic/font/css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons/font/bootstrap-icons.css'%}"> 
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}">
    <!-- or link to the CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/splide.min.css">
    
    <title>Reservas</title>
    <style type="text/css">
        .bootstrap-timepicker-meridian, .meridian-column
        {
            display: none;
        }
        .espacio {
            width: 25%;
            margin: 50px;
            text-align: center;
        }
        .containerCard {
            display: flex;
        }
        .title {
            margin-top: 20px;
        }
        .maincontainer{
            margin-top: 30px;
        }
    </style>
  </head>
  <body>
    <div class"back container">
        <img src="{% static 'svg/Fondo.svg'%}" class="fondo"  >
      </div>
      {% if user.is_authenticated %}
      <div class="barraNav container">
        <div id="menu">
            <div id="menu-bar" onclick="menuOnClick()">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'reservas' %}">Reserva</a></li>
                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                </ul>
            </nav> 
        </div>
        <a class="brand" href="{% url 'index' %}">
          <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
        </a>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    {% else %}
      <div class="barraNav container">
          <div id="menu">
              <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
              </div>
              <nav class="nav" id="nav">
                  <ul>
                      <li><a href="{% url 'index' %}">Inicio</a></li>
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  </ul>
              </nav> 
          </div>
          <a class="brand" href="{% url 'index' %}">
            <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
          </a>
      </div>
      <div class="menu-bg" id="menu-bg"></div>
    {% endif %}
    
    <section class="main container">
        <article class="description"></article>
            <div class="container py-5 h-100">
            <div class="row d-flex align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="main-title">
                        <h1 class="cyber">{{ request.user.username }}</h1>
                        <h3 class="subtitle">{{ request.user.email }}</h3>
                        <div class="downloadBtn" style="text-align:start">
                          <a href="{% url 'edit_profile' %}">
                            <button type="button" class="btn download"><span class="downloadTxt">Editar Perfil</span></button>
                          </a>
                        </div>
                    </div>
                </div>
            <div>
            </div>
        </article>
    </section>
    <section class="main container">
            <div class="main-title">
                <h1 class="cyber2">Reservaciones:</h1>
            </div>
    </section>
    <section class="main container">
        <article class="description2">
          <div class="containerCard">
            {% for reserva in reservas %}
            <div class="espacio row">
              <div class="col">
                <div class="card bg-light">
                  <div class="card-body">
                    <h1 style="color:#021C51; margin-top: 10px;" >{{reserva.tipoRes}}</h1>
                    <h2 style="color:#021C51" >Estatus: {{reserva.estatus}}</h2>
                    <h3 style="color:#021C51; margin-top: 10px;" >Fecha: {{reserva.fecha}}</h3>
                    <h3 style="color:#021C51; margin-top: 10px;" >Tiempo: {{reserva.tiempoRes}}</h3>
                  </div>
                </div>
              </div>   
          </div>
            {% endfor %}
        </article>
      </section>

    <script src="{% static 'css/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <script>
      function menuOnClick() {
        document.getElementById("menu-bar").classList.toggle("change");
        document.getElementById("nav").classList.toggle("change");
        document.getElementById("menu-bg").classList.toggle("change-bg");
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/js/splide.min.js"></script>
    <script type="text/javascript">
        var selld = document.getElementById("selecteId");
    </script>

  </body>
</html>