{% load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/open-iconic/font/css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons/font/bootstrap-icons.css'%}"> 

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}">
    <!-- or link to the CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/splide.min.css">
    
    <title>Reservas</title>
    <style type="text/css">
      .espacio {
        width: 25%;
        margin: 50px;
        text-align: center;
      }
      .containerCard {
        display: flex;
      }
      .title {
        margin-top: 20px;
      }
      .maincontainer{
        margin-top: 30px;
      }
      hr.rounded {
        border-top: 8px solid #021C51;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>




    <div class"back container">
        <img src="{% static 'svg/Fondo.svg'%}" class="fondo" >
      </div>
      {% if user.is_authenticated %}
      <div class="barraNav container">
        <div id="menu">
            <div id="menu-bar" onclick="menuOnClick()">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'reservas' %}">Reserva</a></li>
                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav> 
        </div>
        <a class="brand" href="{% url 'index' %}">
          <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
        </a>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    {% else %}
      <div class="barraNav container">
          <div id="menu">
              <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
              </div>
              <nav class="nav" id="nav">
                  <ul>
                      <li><a href="{% url 'index' %}">Inicio</a></li>
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  </ul>
              </nav> 
          </div>
          <a class="brand" href="{% url 'index' %}">
            <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
          </a>
      </div>
      <div class="menu-bg" id="menu-bg"></div>
    {% endif %}


    <section class="main container">
      <h1 class = "cyber" style="color:white; margin-bottom: 50px;">Reservas</h1>
      <hr class="rounded">  
      <h1 class="cyber2" style="color:white">Espacios:</h1>
      <article class="description2">
        <div class="containerCard" style="margin-bottom: 50px;">
          {% for espacio in espacios %}
          <div class="espacio row">
            <div class="col">
              <div class="card bg-light">
                <div class="text-center">
                  <a href="/reservaEsp/{{ espacio.id }}">
                    <img class="img-fluid" src="{{ espacio.imageEsp.url  }}" style="height:300px;width:260px;"/>
                  </a>
                </div>
                <div class="card-body">
                  <h2 style="color:#021C51" >{{espacio.nombreEspacio}}</h2>
                  <h4 style="color:#021C51; margin-top: 10px;" >{{espacio.caracteristicas}}</h4>
                </div>
              </div>
            </div>   
        </div>
          {% endfor %}
      </article>
    </section>
    
    <section class="main container">
      <hr class="rounded">
      <h1 class="cyber2" style="color:#021C51">Software:</h1>
      <article class="description2">
        <div class="containerCard">
          {% for software in softwares %}
          <div class="espacio row">
            <div class="col">
              <div class="card bg-light">
                <div class="text-center">
                  <a href="/reservaSoft/{{ software.id }}">
                    <img class="img-fluid" src="{{ software.imageSoft.url  }}" style="height:300px;width:260px;"/>
                  </a>
                </div>
                <div class="card-body">
                  <h2 style="color:#021C51" >{{software.tipoSoft}}</h2>
                  <h4 style="color:#021C51; margin-top: 10px;" >{{software.caracteristicas}}</h4>
                </div>
              </div>
            </div>   
        </div>
          {% endfor %}
      </article>
    </section>


    <section class="main container">
      <hr class="rounded">
      <h1 class="cyber2" style="color:#021C51">Equipos:</h1>
      <article class="description2">
        <div class="containerCard">
          {% for equipo in equipos %}
          <div class="espacio row">
            <div class="col">
              <div class="card bg-light">
                <div class="text-center">
                  <a href="/reservaEq/{{ equipo.id }}">
                    <img class="img-fluid" src="{{ equipo.imageEq.url  }}" style="height:300px;width:260px;"/>
                  </a>
                </div>
                <div class="card-body">
                  <h2 style="color:#021C51" >{{equipo.tipoEq}}</h2>
                  <h4 style="color:#021C51; margin-top: 10px;" >{{equipo.caracteristicas}}</h4>
                </div>
              </div>
            </div>
        </div>
          {% endfor %} 
      </article>
      <hr class="rounded">  
    </section>
    
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white"></p></div>
  </footer>

    <script src="{% static 'css/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <script>
      function menuOnClick() {
        document.getElementById("menu-bar").classList.toggle("change");
        document.getElementById("nav").classList.toggle("change");
        document.getElementById("menu-bg").classList.toggle("change-bg");
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/js/splide.min.js"></script>

      
  </body>
</html>