{% load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/dist/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/open-iconic/font/css/open-iconic-bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons/font/bootstrap-icons.css'%}"> 
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest'%}">
    <!-- or link to the CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/css/splide.min.css">
    
    <title>Reservas</title>
    <style type="text/css">
        .bootstrap-timepicker-meridian, .meridian-column
        {
            display: none;
        }
    </style>
  </head>
  <body>




    <div class"back container">
        <img src="{% static 'svg/Fondo.svg'%}" class="fondo" >
      </div>
      {% if user.is_authenticated %}
      <div class="barraNav container">
        <div id="menu">
            <div id="menu-bar" onclick="menuOnClick()">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'reservas' %}">Reserva</a></li>
                    <li><a href="{% url 'profile' %}">Perfil</a></li>
                </ul>
            </nav> 
        </div>
        <a class="brand" href="{% url 'index' %}">
          <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
        </a>
    </div>
    <div class="menu-bg" id="menu-bg"></div>
    {% else %}
      <div class="barraNav container">
          <div id="menu">
              <div id="menu-bar" onclick="menuOnClick()">
                  <div id="bar1" class="bar"></div>
                  <div id="bar2" class="bar"></div>
                  <div id="bar3" class="bar"></div>
              </div>
              <nav class="nav" id="nav">
                  <ul>
                      <li><a href="{% url 'index' %}">Inicio</a></li>
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  </ul>
              </nav> 
          </div>
          <a class="brand" href="{% url 'index' %}">
            <img src="{% static 'svg/Logo Principal.svg'%}" class="logo img-fluid" alt="" width="90" height="84">
          </a>
      </div>
      <div class="menu-bg" id="menu-bg"></div>
    {% endif %}
    
    <section class="main container">
      <article class="description">
        <div class="main-title">
          <h1 class="cyber">{{espacios.nombreEspacio}}</h1>
        </div>
      </article>
    </section>

    <form class="container">
        <div class="form-group col-md-2">
          <label for="inputZip" style="color:white">Día:</label>
          <input type="date" class="date form-control" id="inputZip" data-date-format="YYYY/MM/DD">
        </div>
        <div class="col-auto my-5">
          <label for="quantity" style="color:white">Número de horas:</label>
          <input type="number" id="quantity" name="quantity" min="1" max={{espacios.tiempoEsp}}>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>

    <script src="{% static 'css/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js'%}"></script>

    <script>
      function menuOnClick() {
        document.getElementById("menu-bar").classList.toggle("change");
        document.getElementById("nav").classList.toggle("change");
        document.getElementById("menu-bg").classList.toggle("change-bg");
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.17/dist/js/splide.min.js"></script>
    <script type="text/javascript">
        var selld = document.getElementById("selecteId");
    </script>

  </body>
</html>